{% extends 'admin/index.html' %}
{% block title %}Hotels{% endblock %}

{% block body %}
    <div class="content-wrapper d-flex flex-column">
        <a class="btn btn-primary align-self-end me-5" href="{{ url_for('admin.create_hotel') }}">Create</a>
        <div class="card mx-5 my-3">
            <div class="card-body">
                <h4 class="card-title">Hotels</h4>
                <p class="card-description"></p>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hotel in hotels %}
                        <tr>
                            <td>{{ hotel.id }}</td>
                            <td>{{ hotel.name }}</td>
                            <td>{{ hotel.location|truncate(20) }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary"><i class="mdi mdi-border-color"></i></a>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_modal_{{hotel.id}}"><i class="mdi mdi-delete"></i></button>
                                </div>
                            </td>
                            <!-- Modal -->
                            <div class="modal fade" id="delete_modal_{{hotel.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Are you sure?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            You are going to delete {{ hotel.name }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                            <form action="{{ url_for('admin.hotel_delete', pk=hotel.id) }}">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            <div class="btn-group align-self-center">
                <button class="btn btn-primary">Previous</button>
                <button class="btn btn-primary">1</button>
                <button class="btn btn-primary">2</button>
                <button class="btn btn-primary">3</button>
                <button class="btn btn-primary">Next</button>
            </div>
    </div>
{% endblock %}